In [120]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [121]:
tr = pd.read_csv('input/train_v2.csv')
tr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337024 entries, 0 to 337023
Data columns (total 2 columns):
file         337024 non-null object
sponsored    337024 non-null int64
dtypes: int64(1), object(1)
memory usage: 7.7+ MB

In [122]:
te = pd.read_csv('input/sampleSubmission_v2.csv')
te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66772 entries, 0 to 66771
Data columns (total 2 columns):
file         66772 non-null object
sponsored    66772 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [123]:
te[:5]

               file  sponsored
0  119_raw_html.txt          0
1  167_raw_html.txt          0
2  329_raw_html.txt          0
3  419_raw_html.txt          0
4  431_raw_html.txt          0

In [124]:
te.sponsored = np.nan

In [125]:
te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66772 entries, 0 to 66771
Data columns (total 2 columns):
file         66772 non-null object
sponsored    0 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.5+ MB

In [126]:
t = pd.concat([tr, te])
t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403796 entries, 0 to 66771
Data columns (total 2 columns):
file         403796 non-null object
sponsored    337024 non-null float64
dtypes: float64(1), object(1)
memory usage: 9.2+ MB

In [127]:
prb = pd.read_csv('tmp/prec_rec_body.txt')
prb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404076 entries, 0 to 404075
Data columns (total 13 columns):
file      404076 non-null object
p100      404076 non-null float64
r100      404076 non-null float64
p300      404076 non-null float64
r300      404076 non-null float64
p1000     404076 non-null float64
r1000     404076 non-null float64
p3000     404076 non-null float64
r3000     404076 non-null float64
p10000    404076 non-null float64
r10000    404076 non-null float64
p30000    404076 non-null float64
r30000    404076 non-null float64
dtypes: float64(12), object(1)
memory usage: 43.2+ MB

In [128]:
prb.describe().T

,count,mean,std,min,25%,50%,75%,max
p100,404076,0.176952,0.104874,0,0.117647,0.173838,0.231250,1.000000
r100,404076,0.331499,0.197650,0,0.190000,0.340000,0.470000,0.990000
p300,404076,0.317633,0.150623,0,0.250459,0.329832,0.406548,1.000000
r300,404076,0.237001,0.156656,0,0.120000,0.230000,0.336667,0.996667
p1000,404076,0.517236,0.203220,0,0.471522,0.559585,0.638376,1.000000
r1000,404076,0.137265,0.106157,0,0.062000,0.123000,0.191000,0.987000
p3000,404076,0.692964,0.242882,0,0.687845,0.767834,0.827214,1.000000
r3000,404076,0.068882,0.061842,0,0.027667,0.057667,0.093000,0.946000
p10000,404076,0.811734,0.262722,0,0.848024,0.905048,0.939024,1.000000
r10000,404076,0.026017,0.026198,0,0.010100,0.020800,0.034200,0.721300
p30000,404076,0.863386,0.264376,0,0.915966,0.957606,0.978033,1.000000
r30000,404076,0.009513,0.010011,0,0.003767,0.007533,0.012300,0.380267

In [129]:
x = pd.merge(t, prb, on='file', how='left')
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403796 entries, 0 to 403795
Data columns (total 14 columns):
file         403796 non-null object
sponsored    337024 non-null float64
p100         403796 non-null float64
r100         403796 non-null float64
p300         403796 non-null float64
r300         403796 non-null float64
p1000        403796 non-null float64
r1000        403796 non-null float64
p3000        403796 non-null float64
r3000        403796 non-null float64
p10000       403796 non-null float64
r10000       403796 non-null float64
p30000       403796 non-null float64
r30000       403796 non-null float64
dtypes: float64(13), object(1)
memory usage: 46.2+ MB

In [130]:
prt = pd.read_csv('tmp/prec_rec_title.txt')
prt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404076 entries, 0 to 404075
Data columns (total 13 columns):
file      404076 non-null object
p100      404076 non-null float64
r100      404076 non-null float64
p300      404076 non-null float64
r300      404076 non-null float64
p1000     404076 non-null float64
r1000     404076 non-null float64
p3000     404076 non-null float64
r3000     404076 non-null float64
p10000    404076 non-null float64
r10000    404076 non-null float64
p30000    404076 non-null float64
r30000    404076 non-null float64
dtypes: float64(12), object(1)
memory usage: 43.2+ MB

In [131]:
y = pd.merge(x, prt, on='file', how='left', suffixes=('','_title'))
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403796 entries, 0 to 403795
Data columns (total 26 columns):
file            403796 non-null object
sponsored       337024 non-null float64
p100            403796 non-null float64
r100            403796 non-null float64
p300            403796 non-null float64
r300            403796 non-null float64
p1000           403796 non-null float64
r1000           403796 non-null float64
p3000           403796 non-null float64
r3000           403796 non-null float64
p10000          403796 non-null float64
r10000          403796 non-null float64
p30000          403796 non-null float64
r30000          403796 non-null float64
p100_title      403796 non-null float64
r100_title      403796 non-null float64
p300_title      403796 non-null float64
r300_title      403796 non-null float64
p1000_title     403796 non-null float64
r1000_title     403796 non-null float64
p3000_title     403796 non-null float64
r3000_title     403796 non-null float64
p10000_title    403796 non-null float64
r10000_title    403796 non-null float64
p30000_title    403796 non-null float64
r30000_title    403796 non-null float64
dtypes: float64(25), object(1)
memory usage: 83.2+ MB

In [132]:
y.index = y.file
del y['file']

In [133]:
tr = y[pd.notnull(y.sponsored)]
tr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 337024 entries, 3093804_raw_html.txt to 3198940_raw_html.txt
Data columns (total 25 columns):
sponsored       337024 non-null float64
p100            337024 non-null float64
r100            337024 non-null float64
p300            337024 non-null float64
r300            337024 non-null float64
p1000           337024 non-null float64
r1000           337024 non-null float64
p3000           337024 non-null float64
r3000           337024 non-null float64
p10000          337024 non-null float64
r10000          337024 non-null float64
p30000          337024 non-null float64
r30000          337024 non-null float64
p100_title      337024 non-null float64
r100_title      337024 non-null float64
p300_title      337024 non-null float64
r300_title      337024 non-null float64
p1000_title     337024 non-null float64
r1000_title     337024 non-null float64
p3000_title     337024 non-null float64
r3000_title     337024 non-null float64
p10000_title    337024 non-null float64
r10000_title    337024 non-null float64
p30000_title    337024 non-null float64
r30000_title    337024 non-null float64
dtypes: float64(25)
memory usage: 66.9+ MB

In [134]:
trl = tr.sponsored
del tr['sponsored']

In [135]:
te = y[pd.isnull(y.sponsored)]
del te['sponsored']
te.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66772 entries, 119_raw_html.txt to 4059503_raw_html.txt
Data columns (total 24 columns):
p100            66772 non-null float64
r100            66772 non-null float64
p300            66772 non-null float64
r300            66772 non-null float64
p1000           66772 non-null float64
r1000           66772 non-null float64
p3000           66772 non-null float64
r3000           66772 non-null float64
p10000          66772 non-null float64
r10000          66772 non-null float64
p30000          66772 non-null float64
r30000          66772 non-null float64
p100_title      66772 non-null float64
r100_title      66772 non-null float64
p300_title      66772 non-null float64
r300_title      66772 non-null float64
p1000_title     66772 non-null float64
r1000_title     66772 non-null float64
p3000_title     66772 non-null float64
r3000_title     66772 non-null float64
p10000_title    66772 non-null float64
r10000_title    66772 non-null float64
p30000_title    66772 non-null float64
r30000_title    66772 non-null float64
dtypes: float64(24)
memory usage: 12.7+ MB

In [136]:
m = RandomForestClassifier(n_estimators=200, max_depth=10, oob_score=True, n_jobs=4)

In [137]:
m.fit(tr, trl)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=4,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [138]:
preds = DataFrame(m.predict_proba(te))[1]
sub = DataFrame({'file': te.index, 'sponsored': preds})
sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66772 entries, 0 to 66771
Data columns (total 2 columns):
file         66772 non-null object
sponsored    66772 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.5+ MB

In [139]:
sub.to_csv('output/prec_rec_01.csv', index=False)