In [76]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
from matplotlib import pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [77]:
tr = pd.read_csv('input/train_v2.csv')
tr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337024 entries, 0 to 337023
Data columns (total 2 columns):
file         337024 non-null object
sponsored    337024 non-null int64
dtypes: int64(1), object(1)
memory usage: 7.7+ MB

In [78]:
te = pd.read_csv('input/sampleSubmission_v2.csv')
te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66772 entries, 0 to 66771
Data columns (total 2 columns):
file         66772 non-null object
sponsored    66772 non-null int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [79]:
te[:5]

               file  sponsored
0  119_raw_html.txt          0
1  167_raw_html.txt          0
2  329_raw_html.txt          0
3  419_raw_html.txt          0
4  431_raw_html.txt          0

In [80]:
te.sponsored = np.nan

In [81]:
te.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66772 entries, 0 to 66771
Data columns (total 2 columns):
file         66772 non-null object
sponsored    0 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.5+ MB

In [82]:
t = pd.concat([tr, te])
t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403796 entries, 0 to 66771
Data columns (total 2 columns):
file         403796 non-null object
sponsored    337024 non-null float64
dtypes: float64(1), object(1)
memory usage: 9.2+ MB

In [83]:
pr1 = pd.read_csv('tmp/prec_rec_1.csv')
pr1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404076 entries, 0 to 404075
Data columns (total 13 columns):
file      404076 non-null object
p100      404076 non-null float64
r100      404076 non-null float64
p300      404076 non-null float64
r300      404076 non-null float64
p1000     404076 non-null float64
r1000     404076 non-null float64
p3000     404076 non-null float64
r3000     404076 non-null float64
p10000    404076 non-null float64
r10000    404076 non-null float64
p30000    404076 non-null float64
r30000    404076 non-null float64
dtypes: float64(12), object(1)
memory usage: 43.2+ MB

In [84]:
pr1.describe().T

,count,mean,std,min,25%,50%,75%,max
p100,404076,0.171733,0.105826,0,0.106383,0.163043,0.226562,1.000000
r100,404076,0.165879,0.122406,0,0.080000,0.150000,0.230000,0.980000
p300,404076,0.311655,0.143914,0,0.230769,0.316507,0.400000,1.000000
r300,404076,0.113093,0.092680,0,0.050000,0.096667,0.156667,0.933333
p1000,404076,0.508464,0.179125,0,0.429630,0.533333,0.625000,1.000000
r1000,404076,0.061645,0.058880,0,0.025000,0.050000,0.082000,0.911000
p3000,404076,0.694957,0.198440,0,0.644377,0.744036,0.816327,1.000000
r3000,404076,0.030444,0.034164,0,0.011667,0.023000,0.039333,0.767667
p10000,404076,0.830208,0.195913,0,0.813894,0.888889,0.936073,1.000000
r10000,404076,0.011551,0.014762,0,0.004300,0.008400,0.014400,0.454700
p30000,404076,0.891792,0.178455,0,0.890476,0.947368,0.975904,1.000000
r30000,404076,0.004247,0.005758,0,0.001567,0.003067,0.005233,0.202400

In [85]:
x = pd.merge(t, pr1, on='file', how='left', suffixes=('','_1'))
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403796 entries, 0 to 403795
Data columns (total 14 columns):
file         403796 non-null object
sponsored    337024 non-null float64
p100         403796 non-null float64
r100         403796 non-null float64
p300         403796 non-null float64
r300         403796 non-null float64
p1000        403796 non-null float64
r1000        403796 non-null float64
p3000        403796 non-null float64
r3000        403796 non-null float64
p10000       403796 non-null float64
r10000       403796 non-null float64
p30000       403796 non-null float64
r30000       403796 non-null float64
dtypes: float64(13), object(1)
memory usage: 46.2+ MB

In [86]:
pr2 = pd.read_csv('tmp/prec_rec_2.csv')
pr2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404076 entries, 0 to 404075
Data columns (total 13 columns):
file      404076 non-null object
p100      404076 non-null float64
r100      404076 non-null float64
p300      404076 non-null float64
r300      404076 non-null float64
p1000     404076 non-null float64
r1000     404076 non-null float64
p3000     404076 non-null float64
r3000     404076 non-null float64
p10000    404076 non-null float64
r10000    404076 non-null float64
p30000    404076 non-null float64
r30000    404076 non-null float64
dtypes: float64(12), object(1)
memory usage: 43.2+ MB

In [87]:
pr2.describe().T

,count,mean,std,min,25%,50%,75%,max
p100,404076,0.158121,0.111084,0,0.097222,0.150602,0.210145,1.000000
r100,404076,0.210571,0.167714,0,0.070000,0.190000,0.310000,1.000000
p300,404076,0.292054,0.155567,0,0.224536,0.305842,0.384306,1.000000
r300,404076,0.154742,0.135232,0,0.050000,0.130000,0.226667,1.000000
p1000,404076,0.498737,0.220379,0,0.449438,0.548148,0.634783,1.000000
r1000,404076,0.091525,0.090526,0,0.026000,0.072000,0.129000,0.995000
p3000,404076,0.675650,0.269809,0,0.674107,0.767606,0.833333,1.000000
r3000,404076,0.045456,0.050784,0,0.012000,0.033333,0.061667,0.957000
p10000,404076,0.792265,0.292116,0,0.838993,0.904762,0.942149,1.000000
r10000,404076,0.016891,0.020580,0,0.004500,0.011900,0.022200,0.697600
p30000,404076,0.840443,0.296847,0,0.907618,0.956947,0.979167,1.000000
r30000,404076,0.006122,0.007765,0,0.001633,0.004300,0.007967,0.353067

In [88]:
y = pd.merge(x, pr2, on='file', how='left', suffixes=('','_2'))
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403796 entries, 0 to 403795
Data columns (total 26 columns):
file         403796 non-null object
sponsored    337024 non-null float64
p100         403796 non-null float64
r100         403796 non-null float64
p300         403796 non-null float64
r300         403796 non-null float64
p1000        403796 non-null float64
r1000        403796 non-null float64
p3000        403796 non-null float64
r3000        403796 non-null float64
p10000       403796 non-null float64
r10000       403796 non-null float64
p30000       403796 non-null float64
r30000       403796 non-null float64
p100_2       403796 non-null float64
r100_2       403796 non-null float64
p300_2       403796 non-null float64
r300_2       403796 non-null float64
p1000_2      403796 non-null float64
r1000_2      403796 non-null float64
p3000_2      403796 non-null float64
r3000_2      403796 non-null float64
p10000_2     403796 non-null float64
r10000_2     403796 non-null float64
p30000_2     403796 non-null float64
r30000_2     403796 non-null float64
dtypes: float64(25), object(1)
memory usage: 83.2+ MB

In [89]:
pr3 = pd.read_csv('tmp/prec_rec_3.csv')
pr3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 404076 entries, 0 to 404075
Data columns (total 13 columns):
file      404076 non-null object
p100      404076 non-null float64
r100      404076 non-null float64
p300      404076 non-null float64
r300      404076 non-null float64
p1000     404076 non-null float64
r1000     404076 non-null float64
p3000     404076 non-null float64
r3000     404076 non-null float64
p10000    404076 non-null float64
r10000    404076 non-null float64
p30000    404076 non-null float64
r30000    404076 non-null float64
dtypes: float64(12), object(1)
memory usage: 43.2+ MB

In [90]:
pr3.describe().T

,count,mean,std,min,25%,50%,75%,max
p100,404076,0.069738,0.066284,0,0.025773,0.055556,0.094118,1.000000
r100,404076,0.082588,0.064974,0,0.030000,0.080000,0.120000,0.710000
p300,404076,0.109650,0.081561,0,0.056693,0.099010,0.151079,1.000000
r300,404076,0.050010,0.043403,0,0.020000,0.043333,0.070000,0.713333
p1000,404076,0.189471,0.111336,0,0.123188,0.190751,0.255639,1.000000
r1000,404076,0.027671,0.027350,0,0.010000,0.024000,0.037000,0.587000
p3000,404076,0.306222,0.147915,0,0.235294,0.321782,0.394737,1.000000
r3000,404076,0.014134,0.015926,0,0.005333,0.011667,0.018667,0.420333
p10000,404076,0.379756,0.174606,0,0.305769,0.398515,0.483261,1.000000
r10000,404076,0.005455,0.007018,0,0.001900,0.004300,0.007000,0.247800
p30000,404076,0.419466,0.181808,0,0.350694,0.443820,0.525424,1.000000
r30000,404076,0.002064,0.002834,0,0.000700,0.001600,0.002633,0.125067

In [91]:
z = pd.merge(y, pr3, on='file', how='left', suffixes=('','_3'))
z.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403796 entries, 0 to 403795
Data columns (total 38 columns):
file         403796 non-null object
sponsored    337024 non-null float64
p100         403796 non-null float64
r100         403796 non-null float64
p300         403796 non-null float64
r300         403796 non-null float64
p1000        403796 non-null float64
r1000        403796 non-null float64
p3000        403796 non-null float64
r3000        403796 non-null float64
p10000       403796 non-null float64
r10000       403796 non-null float64
p30000       403796 non-null float64
r30000       403796 non-null float64
p100_2       403796 non-null float64
r100_2       403796 non-null float64
p300_2       403796 non-null float64
r300_2       403796 non-null float64
p1000_2      403796 non-null float64
r1000_2      403796 non-null float64
p3000_2      403796 non-null float64
r3000_2      403796 non-null float64
p10000_2     403796 non-null float64
r10000_2     403796 non-null float64
p30000_2     403796 non-null float64
r30000_2     403796 non-null float64
p100_3       403796 non-null float64
r100_3       403796 non-null float64
p300_3       403796 non-null float64
r300_3       403796 non-null float64
p1000_3      403796 non-null float64
r1000_3      403796 non-null float64
p3000_3      403796 non-null float64
r3000_3      403796 non-null float64
p10000_3     403796 non-null float64
r10000_3     403796 non-null float64
p30000_3     403796 non-null float64
r30000_3     403796 non-null float64
dtypes: float64(37), object(1)
memory usage: 120.1+ MB

In [92]:
c = pd.read_csv('tmp/count_features.csv')
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403900 entries, 0 to 403899
Data columns (total 33 columns):
file                     403900 non-null object
n_title_chars            403900 non-null int64
n_title_words            403900 non-null int64
n_links                  403900 non-null int64
n_links_rel              403900 non-null int64
n_links_abs              403900 non-null int64
n_links_domain_com       403900 non-null int64
n_links_domain_org       403900 non-null int64
n_links_scheme_none      403900 non-null int64
n_links_scheme_http      403900 non-null int64
n_links_scheme_https     403900 non-null int64
n_links_path_nonempty    403900 non-null int64
n_imgs                   403900 non-null int64
n_imgs_rel               403900 non-null int64
n_imgs_abs               403900 non-null int64
n_imgs_fmt_jpg           403900 non-null int64
n_imgs_fmt_gif           403900 non-null int64
n_imgs_fmt_png           403900 non-null int64
n_paragraphs             403900 non-null int64
n_chars                  403900 non-null int64
n_words                  403900 non-null int64
avg_word_length          403900 non-null float64
n_lines                  403900 non-null int64
n_spaces                 403900 non-null int64
n_tabs                   403900 non-null int64
n_braces                 403900 non-null int64
n_brackets               403900 non-null int64
n_dashes                 403900 non-null int64
n_dots                   403900 non-null int64
n_bangs                  403900 non-null int64
n_eqs                    403900 non-null int64
n_pluses                 403900 non-null int64
n_x_pars                 403900 non-null int64
dtypes: float64(1), int64(31), object(1)
memory usage: 104.8+ MB

In [93]:
c.describe().T

,count,mean,std,min,25%,50%,75%,max
n_title_chars,403900,1046.428354,18163.829476,4,46.00000,62.000000,79.000000,5686436.000000
n_title_words,403900,491.268435,8920.860302,1,7.00000,10.000000,13.000000,2825247.000000
n_links,403900,138.156368,305.508596,0,46.00000,96.000000,166.000000,113886.000000
n_links_rel,403900,56.663035,194.278699,0,3.00000,14.000000,58.000000,45499.000000
n_links_abs,403900,81.493281,189.252229,0,16.00000,49.000000,105.000000,68387.000000
n_links_domain_com,403900,65.562496,145.670282,0,7.00000,33.000000,84.000000,25482.000000
n_links_domain_org,403900,3.910121,25.534814,0,0.00000,0.000000,1.000000,4875.000000
n_links_scheme_none,403900,55.039200,191.263745,0,2.00000,14.000000,58.000000,45499.000000
n_links_scheme_http,403900,71.278106,182.670869,0,7.00000,38.000000,93.000000,67694.000000
n_links_scheme_https,403900,7.055714,38.796471,0,0.00000,3.000000,7.000000,20618.000000
n_links_path_nonempty,403900,126.415283,267.971265,0,40.00000,86.000000,153.000000,88357.000000
n_imgs,403900,27.986821,90.513481,0,5.00000,15.000000,32.000000,37065.000000
n_imgs_rel,403900,5.695105,66.459384,0,0.00000,0.000000,2.000000,37065.000000
n_imgs_abs,403900,22.291716,56.375021,0,2.00000,12.000000,28.000000,20003.000000
n_imgs_fmt_jpg,403900,12.076254,47.060755,0,0.00000,4.000000,14.000000,19996.000000
n_imgs_fmt_gif,403900,3.686774,62.681547,0,0.00000,0.000000,2.000000,37065.000000
n_imgs_fmt_png,403900,6.726271,23.456303,0,0.00000,2.000000,8.000000,9139.000000
n_paragraphs,403900,29.213001,108.771097,0,4.00000,15.000000,31.000000,36328.000000
n_chars,403900,16944.658792,143273.978579,0,492.00000,2550.000000,6205.000000,42178953.000000
n_words,403900,2417.856915,16083.768402,1,46.00000,295.000000,801.000000,2823739.000000
avg_word_length,403900,4.033471,1.764083,0,4.24257,4.614035,4.928983,52.148936
n_lines,403900,214.636167,1202.216310,0,22.00000,77.000000,168.000000,411382.000000
n_spaces,403900,10894.664152,118341.572016,0,183.00000,874.000000,2046.000000,39088906.000000
n_tabs,403900,56.588091,915.911628,0,0.00000,0.000000,0.000000,346397.000000
n_braces,403900,5.856254,167.968713,0,0.00000,0.000000,0.000000,30761.000000
n_brackets,403900,6.573635,293.492462,0,0.00000,0.000000,0.000000,112501.000000
n_dashes,403900,47.960198,493.235412,0,0.00000,3.000000,10.000000,136895.000000
n_dots,403900,76.699668,729.061243,0,3.00000,17.000000,45.000000,290405.000000
n_bangs,403900,8.013496,154.342017,0,0.00000,0.000000,3.000000,27802.000000
n_eqs,403900,53.490431,504.798439,0,0.00000,0.000000,0.000000,120662.000000
n_pluses,403900,5.330265,175.299527,0,0.00000,0.000000,0.000000,31730.000000
n_x_pars,403900,0.003640,0.209331,0,0.00000,0.000000,0.000000,59.000000

In [94]:
w = pd.merge(z, c, on='file', how='left')
w.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 403796 entries, 0 to 403795
Data columns (total 70 columns):
file                     403796 non-null object
sponsored                337024 non-null float64
p100                     403796 non-null float64
r100                     403796 non-null float64
p300                     403796 non-null float64
r300                     403796 non-null float64
p1000                    403796 non-null float64
r1000                    403796 non-null float64
p3000                    403796 non-null float64
r3000                    403796 non-null float64
p10000                   403796 non-null float64
r10000                   403796 non-null float64
p30000                   403796 non-null float64
r30000                   403796 non-null float64
p100_2                   403796 non-null float64
r100_2                   403796 non-null float64
p300_2                   403796 non-null float64
r300_2                   403796 non-null float64
p1000_2                  403796 non-null float64
r1000_2                  403796 non-null float64
p3000_2                  403796 non-null float64
r3000_2                  403796 non-null float64
p10000_2                 403796 non-null float64
r10000_2                 403796 non-null float64
p30000_2                 403796 non-null float64
r30000_2                 403796 non-null float64
p100_3                   403796 non-null float64
r100_3                   403796 non-null float64
p300_3                   403796 non-null float64
r300_3                   403796 non-null float64
p1000_3                  403796 non-null float64
r1000_3                  403796 non-null float64
p3000_3                  403796 non-null float64
r3000_3                  403796 non-null float64
p10000_3                 403796 non-null float64
r10000_3                 403796 non-null float64
p30000_3                 403796 non-null float64
r30000_3                 403796 non-null float64
n_title_chars            403620 non-null float64
n_title_words            403620 non-null float64
n_links                  403620 non-null float64
n_links_rel              403620 non-null float64
n_links_abs              403620 non-null float64
n_links_domain_com       403620 non-null float64
n_links_domain_org       403620 non-null float64
n_links_scheme_none      403620 non-null float64
n_links_scheme_http      403620 non-null float64
n_links_scheme_https     403620 non-null float64
n_links_path_nonempty    403620 non-null float64
n_imgs                   403620 non-null float64
n_imgs_rel               403620 non-null float64
n_imgs_abs               403620 non-null float64
n_imgs_fmt_jpg           403620 non-null float64
n_imgs_fmt_gif           403620 non-null float64
n_imgs_fmt_png           403620 non-null float64
n_paragraphs             403620 non-null float64
n_chars                  403620 non-null float64
n_words                  403620 non-null float64
avg_word_length          403620 non-null float64
n_lines                  403620 non-null float64
n_spaces                 403620 non-null float64
n_tabs                   403620 non-null float64
n_braces                 403620 non-null float64
n_brackets               403620 non-null float64
n_dashes                 403620 non-null float64
n_dots                   403620 non-null float64
n_bangs                  403620 non-null float64
n_eqs                    403620 non-null float64
n_pluses                 403620 non-null float64
n_x_pars                 403620 non-null float64
dtypes: float64(69), object(1)
memory usage: 218.7+ MB

In [95]:
w.index = w.file
del w['file']

In [96]:
tr = w[pd.notnull(w.sponsored)]
tr = tr.fillna(0)
tr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 337024 entries, 3093804_raw_html.txt to 3198940_raw_html.txt
Data columns (total 69 columns):
sponsored                337024 non-null float64
p100                     337024 non-null float64
r100                     337024 non-null float64
p300                     337024 non-null float64
r300                     337024 non-null float64
p1000                    337024 non-null float64
r1000                    337024 non-null float64
p3000                    337024 non-null float64
r3000                    337024 non-null float64
p10000                   337024 non-null float64
r10000                   337024 non-null float64
p30000                   337024 non-null float64
r30000                   337024 non-null float64
p100_2                   337024 non-null float64
r100_2                   337024 non-null float64
p300_2                   337024 non-null float64
r300_2                   337024 non-null float64
p1000_2                  337024 non-null float64
r1000_2                  337024 non-null float64
p3000_2                  337024 non-null float64
r3000_2                  337024 non-null float64
p10000_2                 337024 non-null float64
r10000_2                 337024 non-null float64
p30000_2                 337024 non-null float64
r30000_2                 337024 non-null float64
p100_3                   337024 non-null float64
r100_3                   337024 non-null float64
p300_3                   337024 non-null float64
r300_3                   337024 non-null float64
p1000_3                  337024 non-null float64
r1000_3                  337024 non-null float64
p3000_3                  337024 non-null float64
r3000_3                  337024 non-null float64
p10000_3                 337024 non-null float64
r10000_3                 337024 non-null float64
p30000_3                 337024 non-null float64
r30000_3                 337024 non-null float64
n_title_chars            337024 non-null float64
n_title_words            337024 non-null float64
n_links                  337024 non-null float64
n_links_rel              337024 non-null float64
n_links_abs              337024 non-null float64
n_links_domain_com       337024 non-null float64
n_links_domain_org       337024 non-null float64
n_links_scheme_none      337024 non-null float64
n_links_scheme_http      337024 non-null float64
n_links_scheme_https     337024 non-null float64
n_links_path_nonempty    337024 non-null float64
n_imgs                   337024 non-null float64
n_imgs_rel               337024 non-null float64
n_imgs_abs               337024 non-null float64
n_imgs_fmt_jpg           337024 non-null float64
n_imgs_fmt_gif           337024 non-null float64
n_imgs_fmt_png           337024 non-null float64
n_paragraphs             337024 non-null float64
n_chars                  337024 non-null float64
n_words                  337024 non-null float64
avg_word_length          337024 non-null float64
n_lines                  337024 non-null float64
n_spaces                 337024 non-null float64
n_tabs                   337024 non-null float64
n_braces                 337024 non-null float64
n_brackets               337024 non-null float64
n_dashes                 337024 non-null float64
n_dots                   337024 non-null float64
n_bangs                  337024 non-null float64
n_eqs                    337024 non-null float64
n_pluses                 337024 non-null float64
n_x_pars                 337024 non-null float64
dtypes: float64(69)
memory usage: 180.0+ MB

In [97]:
trl = tr.sponsored
del tr['sponsored']

In [98]:
te = w[pd.isnull(w.sponsored)]
del te['sponsored']
te = te.fillna(0)
te.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66772 entries, 119_raw_html.txt to 4059503_raw_html.txt
Data columns (total 68 columns):
p100                     66772 non-null float64
r100                     66772 non-null float64
p300                     66772 non-null float64
r300                     66772 non-null float64
p1000                    66772 non-null float64
r1000                    66772 non-null float64
p3000                    66772 non-null float64
r3000                    66772 non-null float64
p10000                   66772 non-null float64
r10000                   66772 non-null float64
p30000                   66772 non-null float64
r30000                   66772 non-null float64
p100_2                   66772 non-null float64
r100_2                   66772 non-null float64
p300_2                   66772 non-null float64
r300_2                   66772 non-null float64
p1000_2                  66772 non-null float64
r1000_2                  66772 non-null float64
p3000_2                  66772 non-null float64
r3000_2                  66772 non-null float64
p10000_2                 66772 non-null float64
r10000_2                 66772 non-null float64
p30000_2                 66772 non-null float64
r30000_2                 66772 non-null float64
p100_3                   66772 non-null float64
r100_3                   66772 non-null float64
p300_3                   66772 non-null float64
r300_3                   66772 non-null float64
p1000_3                  66772 non-null float64
r1000_3                  66772 non-null float64
p3000_3                  66772 non-null float64
r3000_3                  66772 non-null float64
p10000_3                 66772 non-null float64
r10000_3                 66772 non-null float64
p30000_3                 66772 non-null float64
r30000_3                 66772 non-null float64
n_title_chars            66772 non-null float64
n_title_words            66772 non-null float64
n_links                  66772 non-null float64
n_links_rel              66772 non-null float64
n_links_abs              66772 non-null float64
n_links_domain_com       66772 non-null float64
n_links_domain_org       66772 non-null float64
n_links_scheme_none      66772 non-null float64
n_links_scheme_http      66772 non-null float64
n_links_scheme_https     66772 non-null float64
n_links_path_nonempty    66772 non-null float64
n_imgs                   66772 non-null float64
n_imgs_rel               66772 non-null float64
n_imgs_abs               66772 non-null float64
n_imgs_fmt_jpg           66772 non-null float64
n_imgs_fmt_gif           66772 non-null float64
n_imgs_fmt_png           66772 non-null float64
n_paragraphs             66772 non-null float64
n_chars                  66772 non-null float64
n_words                  66772 non-null float64
avg_word_length          66772 non-null float64
n_lines                  66772 non-null float64
n_spaces                 66772 non-null float64
n_tabs                   66772 non-null float64
n_braces                 66772 non-null float64
n_brackets               66772 non-null float64
n_dashes                 66772 non-null float64
n_dots                   66772 non-null float64
n_bangs                  66772 non-null float64
n_eqs                    66772 non-null float64
n_pluses                 66772 non-null float64
n_x_pars                 66772 non-null float64
dtypes: float64(68)
memory usage: 35.2+ MB

In [99]:
m = RandomForestClassifier(n_estimators=500, max_depth=30, oob_score=True, n_jobs=4)

In [100]:
m.fit(tr, trl)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=30, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=4,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [101]:
preds = DataFrame(m.predict_proba(te))[1]
sub = DataFrame({'file': te.index, 'sponsored': preds})
sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66772 entries, 0 to 66771
Data columns (total 2 columns):
file         66772 non-null object
sponsored    66772 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.5+ MB

In [102]:
sub.to_csv('output/prec_rec_count_randfor_02.csv', index=False)